<h1 class="text-7xl text-center">Liste de Pokémons</h1>
<br>
<input #input (keyup.enter)="selectPokemon(input.value)" type="number"
  class="border border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md p-2" />
<br>
<br>
<p *ngIf="pokemonSelected" style="color: green;">
  Vous avez sélectionné le pokémon : {{pokemonSelected.name}}
</p>
<p *ngIf="!pokemonSelected" style="color: red;">
  Aucun pokémon n'a été trouvé.
</p>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pokemonList">
  <figure *ngFor="let pokemon of pokemonList"
    class="md:flex max-w-5xl bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 card-content" pkmnBorderCard>
    <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{pokemon.picture}}" alt="pokemon image" />
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">
          {{pokemon.name}}
        </div>
        <p class="mt-2 text-slate-500">
          {{pokemon.created | date:"dd/MM/yyyy"}}
        </p>
        <span *ngFor="let type of pokemon.types" [ngClass]="type | pokemonTypeColor" class="mb-2">
          {{type}}
        </span>
      </div>
    </div>
  </figure>
</div>

<!-- <router-outlet /> -->
