<div *ngIf='pokemon' class="bg-gray-100 dark:bg-gray-800 py-6 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col md:flex-row -mx-2">
    <div class="md:flex-1 px-2 relative">
      <div class="relative h-[380px] md:h-[400px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
        <!-- ID du Pokémon dans le coin supérieur gauche de l'image -->
        <div class="absolute top-2 left-2 bg-gray-500 text-white text-xs font-bold px-2 py-1 rounded-full z-20">
          #{{pokemon.id}}
        </div>
        <img class="w-full h-full object-contain" src='{{pokemon.image.hires}}' alt="Product Image">
      </div>
      <div class="flex -mx-2 mb-4">
        <div class="w-1/2 px-2">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full dark:hover:bg-gray-700"
            (click)="openModal()">Editer
          </button>
        </div>
        <div class="w-1/2 px-2">
          <a (click)="goBack()"><button
              class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">Retour</button></a>
        </div>
      </div>
    </div>

    <!-- Infos du Pokémon -->
    <div class="md:flex-1 px-2">
      <h2 class="text-xl md:text-2xl font-bold text-gray-800 dark:text-white mb-2">{{pokemon.name.french}}</h2>
      <div class="flex flex-wrap mb-4">
        <div class="mr-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Points de vie: </span>
          <span class="text-gray-600 dark:text-gray-300">{{pokemon.base.HPs}}</span>
        </div>
        <div class="mr-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Dégats: </span>
          <span class="text-gray-600 dark:text-gray-300">{{pokemon.base.Attack}}</span>
        </div>
        <div>
          <span class="font-bold text-gray-700 dark:text-gray-300">Défense: </span>
          <span class="text-gray-600 dark:text-gray-300">{{pokemon.base.Defense}}</span>
        </div>
      </div>

      <!-- Types de Pokémon -->
      <div class="mb-4">
        <span class="font-bold text-gray-700 dark:text-gray-300">Types:</span>
        <div class="flex items-center mt-2">
          <span *ngFor="let type of pokemon.types" [ngClass]="type | pokemonTypeColor" class="mr-2">
            {{type}}
          </span>
        </div>
      </div>

      <!-- Date et description -->
      <div class="mb-4">
        <span class="font-bold text-gray-700 dark:text-gray-300">Date de création: </span>
        <span class="text-gray-600 dark:text-gray-300">{{pokemon.firstSeen | date:"dd/MM/yyyy"}}</span>
      </div>
      <div>
        <span class="font-bold text-gray-700 dark:text-gray-300">Description:</span>
        <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">{{pokemon.description}}</p>
      </div>
    </div>
  </div>

  <!-- Modal pour le formulaire d'édition -->
  <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white dark:bg-gray-800 rounded-lg p-6 w-11/12 max-w-lg mx-auto relative">
      <button (click)="closeModal()"
        class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 dark:hover:text-white">×</button>
      <app-pokemon-form [pokemon]="pokemon"></app-pokemon-form>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">Aucun Pokémon à afficher !</h4>
